certifi==2020.4.5.2
chardet==3.0.4
cheroot==8.3.0
idna==2.9
jaraco.functools==3.0.1
Jinja2==2.11.2
MarkupSafe==1.1.1
more-itertools==8.4.0
requests==2.24.0
simplejson==3.17.0
six==1.15.0
urllib3==1.25.8
web.py==0.51
wsgilog==0.3.1
