### [高危端口告警]
###### [点这进入控制台查看](https://172.16.1.252)
> 平台：{{ platform}}
> 规则名：{{ RuleName}}
> 协议：{{ protocol }}
> 公网IP地址：{{global_ip}}
> 映射内网IP：{{ local_ip}}
> 映射内网端口：{{ port}}
> 匹配次数：{{ count}}
> 描述：{{ Description}}
> 处理建议：{{ port}}端口开放存在风险，请登录平台地址检查