### [高危端口告警]
###### [点这进入控制台查看](https://console.ucloud.cn/)
> 平台：{{ platform}}
> 区域：{{ region_id}}
> 防火墙组：{{ fwgroup}}
> 协议：{{ protocol }}
> 开放范围：{{ip}}
> 端口：{{ port}}
> 备注：{{ remark}}
> 处理建议：{{ port}}端口开放存在风险，请登录平台地址检查